<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>公告详情</title>
    <link rel="stylesheet" type="text/css" href="/css/mdui.min.css">
    <link rel="icon" href="/images/icon/favicon.ico">
</head>
<body class="mdui-theme-primary-blue">
<div class="mdui-toolbar mdui-color-theme mdui-row mdui-shadow-5">
    <span class="mdui-typo-title mdui-col-xs-4 mdui-text-color-white">公告详情</span>
    <div class="mdui-toolbar-spacer"></div>
    <div class="mdui-col-xs-4">
        <div class="mdui-textfield mdui-textfield-expandable mdui-float-right">
            <button class="mdui-textfield-icon mdui-btn mdui-btn-icon">
                <i class="mdui-icon material-icons">search</i>
            </button>
            <input class="mdui-textfield-input" type="text" placeholder="请输入搜索内容"/>
            <button class="mdui-textfield-close mdui-btn mdui-btn-icon">
                <i class="mdui-icon material-icons">close</i>
            </button>
        </div>
    </div>
    <div class="mdui-col-xs-1">
        <a href="javascript:location.reload();" class="mdui-btn mdui-btn-icon">
            <i class="mdui-icon material-icons">refresh</i>
        </a>
    </div>
</div>

<h3 class="mdui-text-center mdui-typo-display-1" th:text="${notice.getTopic()}"></h3>

<div class="mdui-text-center mdui-typo-subheading-opacity" th:text="${notice.getRealTime()}"></div>

<div class="mdui-typo">
    <hr/>
</div>

<p class="mdui-m-t-3 mdui-m-l-5" style="font-size: 20px" th:text="${notice.getContent()}"></p>

<div>
    <span class="mdui-col-xs-5"></span>
    <button class="mdui-btn mdui-color-blue mdui-text-color-white mdui-ripple mdui-col-xs-1"
            mdui-dialog="{target: '#updateNotice'}">修改</button>
    <button class="mdui-btn mdui-color-red mdui-text-color-white mdui-ripple mdui-col-xs-1 mdui-m-l-1"
            mdui-dialog="{target: '#deleteNotice'}">删除</button>
</div>


<div class="mdui-dialog" id="updateNotice">
    <form th:action="|/notice/update/${notice.getId()}|" method="post">
        <div class="mdui-dialog-content">
            <div class="mdui-textfield">
                <label class="mdui-textfield-label">标题</label>
                <input class="mdui-textfield-input" type="text" name="topic"
                       th:value="${notice.getTopic()}" required/>
                <div class="mdui-textfield-error">标题不能为空</div>
            </div>
            <div class="mdui-textfield">
                <label class="mdui-textfield-label">内容</label>
                <textarea class="mdui-textfield-input" type="text" name="content" rows="8"
                       th:text="${notice.getContent()}" required></textarea>
                <div class="mdui-textfield-error">内容不能为空</div>
            </div>
        </div>
        <div class="mdui-dialog-actions">
            <button class="mdui-btn mdui-ripple" mdui-dialog-close>放弃</button>
            <button class="mdui-btn mdui-ripple" type="submit">确认</button>
        </div>
    </form>
</div>

<div class="mdui-dialog" id="deleteNotice">
    <form th:action="|/notice/delete/${notice.getId()}|" method="get">
        <div class="mdui-dialog-content">确定删除该公告吗？</div>
        <div class="mdui-dialog-actions">
            <button class="mdui-btn mdui-ripple" mdui-dialog-close>否</button>
            <button class="mdui-btn mdui-ripple" type="submit">是</button>
        </div>
    </form>
</div>

<script src="/js/mdui.min.js"></script>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/MyJS.js"></script>
</body>
</html>