<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>住户主页</title>
  <link rel="stylesheet" type="text/css" href="/css/mdui.min.css">
  <link rel="stylesheet" type="text/css" href="/css/layui.css">
  <link rel="icon" href="/images/icon/favicon.ico">
</head>
<body class="mdui-theme-primary-blue">
<div class="mdui-toolbar mdui-color-theme mdui-row mdui-shadow-5">
  <span class="mdui-typo-title mdui-col-xs-4 mdui-text-color-white">“春天启动”小区住户个人中心</span>
  <div class="mdui-toolbar-spacer"></div>
  <div class=" mdui-col-xs-4">
    <div class="mdui-textfield mdui-textfield-expandable mdui-float-right">
      <button class="mdui-textfield-icon mdui-btn mdui-btn-icon">
        <i class="mdui-icon material-icons">search</i>
      </button>
      <input class="mdui-textfield-input" type="text" placeholder="请输入搜索内容"/>
      <button class="mdui-textfield-close mdui-btn mdui-btn-icon">
        <i class="mdui-icon material-icons">close</i>
      </button>
    </div>
  </div>
</div>

<div class="mdui-row">
  <div class="mdui-col-xs-2">
    <ul class="mdui-list" mdui-collapse="{accordion: true}">

      <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">home</i>
        <a class="mdui-list-item-content" th:href="@{/user/index}">首页</a>
      </li>

      <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">announcement</i>
        <a class="mdui-list-item-content" th:href="|/user/all-notice/1|">所有公告</a>
      </li>

      <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">account_balance</i>
        <a class="mdui-list-item-content" th:href="@{/user/my-housing}">我的房产</a>
      </li>

      <li class="mdui-collapse-item">
        <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons">build</i>
          <div class="mdui-list-item-content">我的报修</div>
          <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
          <a class="mdui-list-item mdui-ripple" th:href="@{/user/maintenance-upload}">上传报修</a>
          <a class="mdui-list-item mdui-ripple" th:href="@{/user/maintenance-finish}">已完成报修</a>
          <a class="mdui-list-item mdui-ripple" th:href="@{/user/maintenance-not-finish}">待处理报修</a>
        </ul>
      </li>

      <li class="mdui-collapse-item">
        <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons">book</i>
          <div class="mdui-list-item-content">我的缴费</div>
          <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
          <a class="mdui-list-item mdui-ripple" th:href="@{/user/bill-completed}">已交账单</a>
          <a class="mdui-list-item mdui-ripple" th:href="@{/user/bill-unfinished}">未交账单</a>
        </ul>
      </li>

      <li class="mdui-collapse-item">
        <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons">people</i>
          <div class="mdui-list-item-content">用户中心</div>
          <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
          <a class="mdui-list-item mdui-ripple" th:href="@{/user/modify-email}">修改邮箱</a>
          <a class="mdui-list-item mdui-ripple" th:href="@{/user/modify-password}">修改密码</a>
        </ul>
      </li>

      <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">keyboard_tab</i>
        <a class="mdui-list-item-content" th:href="@{/logout}">登出</a>
      </li>

    </ul>
  </div>
  <span class="mdui-col-xs-1"></span>
  <div class="mdui-col-xs-8 mdui-m-t-3">
    <form th:action="@{/user/maintenance-upload/upload}" method="post" enctype="multipart/form-data">
      <div class="mdui-textfield mdui-textfield-floating-label">
        <label class="mdui-textfield-label">报修标题</label>
        <input class="mdui-textfield-input" type="text" name="topic" maxlength="25" required />
        <div class="mdui-textfield-error">标题不能为空</div>
      </div>

      <div class="mdui-textfield mdui-textfield-floating-label">
        <label class="mdui-textfield-label">报修地点</label>
        <input class="mdui-textfield-input" type="text" name="place" maxlength="255" required />
        <div class="mdui-textfield-error">地点不能为空</div>
      </div>

      <div class="mdui-textfield mdui-textfield-floating-label">
        <label class="mdui-textfield-label">报修描述</label>
        <textarea class="mdui-textfield-input" type="text" name="description" maxlength="255" required></textarea>
        <div class="mdui-textfield-error">描述不能为空</div>
      </div>

      <div class="mdui-m-t-3">
        <label>图片描述（可选）,只支持上传png格式图片,大小不可超过10MB</label>
      </div>

      <div class="mdui-m-t-3">
        <input class="mdui-ripple mdui-color-white" type="file" name="file"/>
      </div>

      <p th:text="${upload_err_msg}" class="mdui-m-t-1 mdui-text-color-red"></p>

      <div class="mdui-row mdui-m-t-3" style="margin-left: 450px">
        <div class="mdui-col-xs-4">
          <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-blue mdui-text-color-white"
                  type="submit">提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script src="/js/mdui.min.js"></script>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/MyJS.js"></script>
<script src="/js/layui.js"></script>
</body>
</html>