<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>待处理报修</title>
  <link rel="stylesheet" type="text/css" href="/css/mdui.min.css">
  <link rel="icon" href="/images/icon/favicon.ico">
</head>
<body class="mdui-theme-primary-blue">
<div class="mdui-toolbar mdui-color-theme mdui-row mdui-shadow-5">
  <span class="mdui-typo-title mdui-col-xs-4 mdui-text-color-white">“春天启动”小区住户个人中心</span>
  <div class="mdui-toolbar-spacer"></div>
  <div class=" mdui-col-xs-4">
    <div class="mdui-textfield mdui-textfield-expandable mdui-float-right">
      <button class="mdui-textfield-icon mdui-btn mdui-btn-icon">
        <i class="mdui-icon material-icons">search</i>
      </button>
      <input class="mdui-textfield-input" type="text" placeholder="请输入搜索内容"/>
      <button class="mdui-textfield-close mdui-btn mdui-btn-icon">
        <i class="mdui-icon material-icons">close</i>
      </button>
    </div>
  </div>
</div>

<div class="mdui-row">
  <div class="mdui-col-xs-2">
    <ul class="mdui-list" mdui-collapse="{accordion: true}">

      <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">home</i>
        <a class="mdui-list-item-content" th:href="@{/user/index}">首页</a>
      </li>

      <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">announcement</i>
        <a class="mdui-list-item-content" th:href="|/user/all-notice/1|">所有公告</a>
      </li>

      <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">account_balance</i>
        <a class="mdui-list-item-content" th:href="@{/user/my-housing}">我的房产</a>
      </li>

      <li class="mdui-collapse-item">
        <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons">build</i>
          <div class="mdui-list-item-content">我的报修</div>
          <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
          <a class="mdui-list-item mdui-ripple" th:href="@{/user/maintenance-upload}">上传报修</a>
          <a class="mdui-list-item mdui-ripple" th:href="@{/user/maintenance-finish}">已完成报修</a>
          <a class="mdui-list-item mdui-ripple" th:href="@{/user/maintenance-not-finish}">待处理报修</a>
        </ul>
      </li>

      <li class="mdui-collapse-item">
        <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons">book</i>
          <div class="mdui-list-item-content">我的缴费</div>
          <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
          <a class="mdui-list-item mdui-ripple" th:href="@{/user/bill-completed}">已交账单</a>
          <a class="mdui-list-item mdui-ripple" th:href="@{/user/bill-unfinished}">未交账单</a>
        </ul>
      </li>

      <li class="mdui-collapse-item">
        <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons">people</i>
          <div class="mdui-list-item-content">用户中心</div>
          <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
          <a class="mdui-list-item mdui-ripple" th:href="@{/user/modify-email}">修改邮箱</a>
          <a class="mdui-list-item mdui-ripple" th:href="@{/user/modify-password}">修改密码</a>
        </ul>
      </li>

      <li class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons">keyboard_tab</i>
        <a class="mdui-list-item-content" th:href="@{/logout}">登出</a>
      </li>

    </ul>
  </div>
  <span class="mdui-col-xs-1"></span>
  <div class="mdui-col-xs-8 mdui-m-t-3">
    <div class="mdui-typo-headline">待处理报修</div>
    <div class="mdui-typo">
      <hr/>
    </div>
    <div class="mdui-m-t-1" th:each="maintenance:${unhandledMaintenance}">
      <div class="mdui-row mdui-m-t-2">
        <div class="mdui-col-xs-5 mdui-typo-subheading" th:text="${maintenance.getTopic()}"></div>
        <a class="mdui-col-xs-3 mdui-typo-subheading-opacity"
           th:href="|/maintenance/maintenanceDetail/${maintenance.getId()}|" target="_blank">查看详情</a>
      </div>
    </div>
  </div>
</div>
<script src="/js/mdui.min.js"></script>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/MyJS.js"></script>
</body>
</html>