<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>账单详情</title>
    <link rel="stylesheet" type="text/css" href="/css/mdui.min.css">
    <link rel="icon" href="/images/icon/favicon.ico">
</head>
<body class="mdui-theme-primary-blue">
<div class="mdui-toolbar mdui-color-theme mdui-row mdui-shadow-5">
    <span class="mdui-typo-title mdui-col-xs-4 mdui-text-color-white">账单详情</span>
    <div class="mdui-toolbar-spacer"></div>
    <div class="mdui-col-xs-4">
        <div class="mdui-textfield mdui-textfield-expandable mdui-float-right">
            <button class="mdui-textfield-icon mdui-btn mdui-btn-icon">
                <i class="mdui-icon material-icons">search</i>
            </button>
            <input class="mdui-textfield-input" type="text" placeholder="请输入搜索内容"/>
            <button class="mdui-textfield-close mdui-btn mdui-btn-icon">
                <i class="mdui-icon material-icons">close</i>
            </button>
        </div>
    </div>
    <div class="mdui-col-xs-1">
        <a href="javascript:location.reload();" class="mdui-btn mdui-btn-icon">
            <i class="mdui-icon material-icons">refresh</i>
        </a>
    </div>
</div>

<div class="mdui-table-fluid">
    <table class="mdui-table mdui-table-hoverable">
        <tbody>
        <tr>
            <td>账单编号</td>
            <td th:text="${bill.getId()}"></td>
        </tr>
        <tr>
            <td>账单标题</td>
            <td th:text="${bill.getTopic()}"></td>
        </tr>
        <tr>
            <td>附加描述</td>
            <td th:text="${bill.getDescription()}"></td>
        </tr>
        <tr>
            <td>应缴金额</td>
            <td th:text="|${bill.getCost()}元|"></td>
        </tr>
        <tr>
            <td>账单时间</td>
            <td th:text="${bill.getRealBillTime()}"></td>
        </tr>

        <th:block th:if="${bill.getCostTime()==null}">
            <tr>
                <td>缴费时间</td>
                <td>你还没有缴费，请尽快缴费！</td>
            </tr>
        </th:block>

        <th:block th:if="${bill.getCostTime()!=null}">
            <tr>
                <td>缴费时间</td>
                <td th:text="${bill.getRealCostTime()}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>

<div class="mdui-text-center mdui-m-t-3">
    <th:block th:if="${bill.getStatus() == 0}">
        <form th:action="|/user/bill-cost/${bill.getId()}|">
            <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-red mdui-text-color-white"
                    type="submit">缴费</button>
        </form>
    </th:block>
</div>


<script src="/js/mdui.min.js"></script>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/MyJS.js"></script>
</body>
</html>