<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link rel="stylesheet" type="text/css" href="/css/mdui.min.css">
    <style>
        body{
            background-size: cover;
            background-image: url("/images/login/login_bg.png");
            background-repeat: no-repeat;
        }
    </style>
</head>

<body class="mdui-theme-accent-blue">

    <div class="mdui-container">
        <div class="mdui-card" style="margin-top: 100px; margin-left:250px; width: 60%;">
            <div class="mdui-appbar">
                <div class="mdui-tab mdui-color-theme-accent" mdui-tab>
                    <a href="#login" class="mdui-ripple mdui-ripple-white" style="width: 50%">登录</a>
                    <div class="mdui-toolbar-spacer"></div>
                    <a href="#register" class="mdui-ripple mdui-ripple-white" style="width: 50%">注册</a>
                </div>
            </div>
            <div class="mdui-card-content">
                <div class="mdui-container-fluid">
                    <div id="login">
                        <form th:action="@{/login}" method="post">
                            <div class="mdui-textfield mdui-textfield-floating-label" style="width: 60%; margin-left: 125px">
                                <i class="mdui-icon material-icons">account_circle</i>
                                <label class="mdui-textfield-label">用户名</label>
                                <input class="mdui-textfield-input" type="text" name="username" required />
                                <div class="mdui-textfield-error">用户名不能为空</div>
                            </div>
                            <div class="mdui-textfield mdui-textfield-floating-label" style="width: 60%; margin-left: 125px">
                                <i class="mdui-icon material-icons">lock</i>
                                <label class="mdui-textfield-label">密码</label>
                                <input class="mdui-textfield-input" type="password" name="password" required/>
                                <div class="mdui-textfield-error">密码不能为空</div>
                            </div>

                            <div class="mdui-m-t-2" style="margin-left: 200px">
                                <label class="mdui-radio mdui-m-l-3">
                                    <input type="radio" name="identity" value="user" checked/>
                                    <i class="mdui-radio-icon"></i>
                                    用户
                                </label>

                                <label class="mdui-radio mdui-m-l-3">
                                    <input type="radio" name="identity" value="enterprise"/>
                                    <i class="mdui-radio-icon"></i>
                                    企业
                                </label>

                                <label class="mdui-radio mdui-m-l-3">
                                    <input type="radio" name="identity" value="admin"/>
                                    <i class="mdui-radio-icon"></i>
                                    管理员
                                </label>
                            </div>

                            <div class="mdui-row mdui-m-t-3" style="margin-left: 300px">
                                <div class="mdui-col-xs-4">
                                    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent" type="submit">登录</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="register">
                        <form th:action="@{/register}">
                            <div class="mdui-textfield mdui-textfield-floating-label" style="width: 60%; margin-left: 125px">
                                <label class="mdui-textfield-label">用户名</label>
                                <input class="mdui-textfield-input" type="text" name="username" required />
                                <div class="mdui-textfield-error">用户名不能为空</div>
                            </div>

                            <div class="mdui-textfield mdui-textfield-floating-label" style="width: 60%; margin-left: 125px">
                                <label class="mdui-textfield-label">密码</label>
                                <input class="mdui-textfield-input" type="password" name="password" required/>
                                <div class="mdui-textfield-error">密码不能为空</div>
                            </div>

                            <div class="mdui-textfield mdui-textfield-floating-label" style="width: 60%; margin-left: 125px">
                                <label class="mdui-textfield-label">确认密码</label>
                                <input class="mdui-textfield-input" type="password" name="password" required/>
                                <div class="mdui-textfield-error">密码不能为空</div>
                            </div>

                            <div class="mdui-textfield mdui-textfield-floating-label" style="width: 60%; margin-left: 125px">
                                <label class="mdui-textfield-label">邮箱</label>
                                <input class="mdui-textfield-input" type="text" name="password" required/>
                                <div class="mdui-textfield-error">邮箱不能为空</div>
                            </div>

                            <div class="mdui-row">
                                <div class="mdui-textfield mdui-textfield-floating-label mdui-col-xs-2" style="width: 60%; margin-left: 125px">
                                    <label class="mdui-textfield-label">验证码</label>
                                    <input class="mdui-textfield-input" type="text" name="password" required/>
                                    <div class="mdui-textfield-error">验证码不能为空</div>
                                </div>

                                <div class="mdui-col-xs-1 mdui-m-t-4">
                                    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent">获取验证码</button>
                                </div>
                            </div>

                            <div class="mdui-row mdui-m-t-3" style="margin-left: 300px">
                                <div class="mdui-col-xs-4">
                                    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent">注册</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/mdui.min.js"></script>
</body>
</html>