<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link rel="stylesheet" type="text/css" href="/css/mdui.min.css">
    <link rel="icon" href="/images/icon/favicon.ico">
    <style>
        body{
            background-size: cover;
            background-image: url("/images/login/login_bg.png");
            background-repeat: no-repeat;
        }
    </style>
</head>

<body class="mdui-theme-accent-blue">

    <div class="mdui-container">
        <div class="mdui-card" style="margin-top: 10px; margin-left:250px; width: 60%;">
            <div class="mdui-appbar">
                <div class="mdui-tab mdui-color-theme-accent" mdui-tab>
                    <a href="#login" class="mdui-ripple mdui-ripple-white" style="width: 33%">登录</a>
                    <a href="#userRegister" class="mdui-ripple mdui-ripple-white" style="width: 33%">住户注册</a>
                    <a href="#enterpriseRegister" class="mdui-ripple mdui-ripple-white" style="width: 34%">物业注册</a>
                </div>
            </div>
            <div class="mdui-card-content">
                <div class="mdui-container-fluid">
                    <div id="login">
                        <form th:action="@{/login}" method="post">
                            <div class="mdui-textfield mdui-textfield-floating-label" style="width: 60%; margin-left: 125px">
                                <i class="mdui-icon material-icons">account_circle</i>
                                <label class="mdui-textfield-label">用户名</label>
                                <input class="mdui-textfield-input" type="text" name="username" required />
                                <div class="mdui-textfield-error">用户名不能为空</div>
                            </div>
                            <div class="mdui-textfield mdui-textfield-floating-label" style="width: 60%; margin-left: 125px">
                                <i class="mdui-icon material-icons">lock</i>
                                <label class="mdui-textfield-label">密码</label>
                                <input class="mdui-textfield-input" type="password" name="password" required/>
                                <div class="mdui-textfield-error">密码不能为空</div>
                            </div>

                            <p th:text="${login_err_msg}" class="mdui-text-color-red" style="margin-left: 125px"></p>

                            <div class="mdui-m-t-2" style="margin-left: 200px">
                                <label class="mdui-radio mdui-m-l-3">
                                    <input type="radio" name="identity" value="user" checked/>
                                    <i class="mdui-radio-icon"></i>
                                    住户
                                </label>

                                <label class="mdui-radio mdui-m-l-3">
                                    <input type="radio" name="identity" value="enterprise"/>
                                    <i class="mdui-radio-icon"></i>
                                    物业
                                </label>

                                <label class="mdui-radio mdui-m-l-3">
                                    <input type="radio" name="identity" value="admin"/>
                                    <i class="mdui-radio-icon"></i>
                                    管理员
                                </label>
                            </div>

                            <div class="mdui-row mdui-m-t-3" style="margin-left: 300px">
                                <div class="mdui-col-xs-4">
                                    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent"
                                            type="submit">登录</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="userRegister">
                        <form th:action="@{/userRegister}" method="post">
                            <div class="mdui-textfield mdui-textfield-floating-label" id="register_login_textfield"
                                 style="width: 60%; margin-left: 125px">
                                <label class="mdui-textfield-label">用户名</label>
                                <input class="mdui-textfield-input" type="text" name="username"
                                       onblur="usernameCheck()" id="user_register_username" required />
                                <div class="mdui-textfield-error" id="register_username_err_msg">用户名不能为空</div>
                            </div>

                            <div class="mdui-textfield mdui-textfield-floating-label" id="register_password_textfield"
                                 style="width: 60%; margin-left: 125px">
                                <label class="mdui-textfield-label">密码</label>
                                <input class="mdui-textfield-input" type="password" name="password" maxlength="16"
                                       onchange="passwordCheck()" id="user_register_password" required/>
                                <div class="mdui-textfield-error" id="register_password_err_msg">密码不能为空</div>
                            </div>

                            <div class="mdui-textfield mdui-textfield-floating-label" id="register_repeatPassword_textfield"
                                 style="width: 60%; margin-left: 125px">
                                <label class="mdui-textfield-label">确认密码</label>
                                <input class="mdui-textfield-input" type="password" name="repeatPassword" maxlength="16"
                                       onchange="repeatPasswordCheck()" id="user_register_repeatPassword" required/>
                                <div class="mdui-textfield-error" id="register_repeatPassword_err_msg">密码不能为空</div>
                            </div>

                            <div class="mdui-textfield mdui-textfield-floating-label" style="width: 60%; margin-left: 125px">
                                <label class="mdui-textfield-label">邮箱</label>
                                <input class="mdui-textfield-input" type="text" name="email" required/>
                                <div class="mdui-textfield-error">邮箱不能为空</div>
                            </div>

                            <div class="mdui-row">
                                <div class="mdui-textfield mdui-textfield-floating-label mdui-col-xs-2" id="register_verifyCode_textfield"
                                     style="width: 60%; margin-left: 125px">
                                    <label class="mdui-textfield-label">验证码</label>
                                    <input class="mdui-textfield-input" type="text" name="verifyCode" maxlength="6"
                                           onblur="verifyCodeCheck()" id="user_register_verifyCode" required/>
                                    <div class="mdui-textfield-error" id="register_verifyCode_err_msg">请输入6位验证码</div>
                                </div>

                                <div class="mdui-col-xs-1 mdui-m-t-4">
                                    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent"
                                            type="button" onclick="getVerifyCode()">获取验证码</button>
                                </div>
                            </div>

                            <div class="mdui-row mdui-m-t-3" style="margin-left: 300px">
                                <div class="mdui-col-xs-4">
                                    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent"
                                    type="submit">注册</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="enterpriseRegister">
                        <form th:action="@{/enterpriseRegister}" method="post">
                            <div class="mdui-textfield mdui-textfield-floating-label" id="register_login_textfield2"
                                 style="width: 60%; margin-left: 125px">
                                <label class="mdui-textfield-label">用户名</label>
                                <input class="mdui-textfield-input" type="text" name="username" id="ep_register_username"
                                       onblur="usernameCheck2()" required />
                                <div class="mdui-textfield-error" id="register_username_err_msg2">用户名不能为空</div>
                            </div>

                            <div class="mdui-textfield mdui-textfield-floating-label" id="register_password_textfield2"
                                 style="width: 60%; margin-left: 125px">
                                <label class="mdui-textfield-label">密码</label>
                                <input class="mdui-textfield-input" type="password" name="password" id="ep_register_password"
                                       onchange="passwordCheck2()" maxlength="16" required/>
                                <div class="mdui-textfield-error" id="register_password_err_msg2">密码不能为空</div>
                            </div>

                            <div class="mdui-textfield mdui-textfield-floating-label" id="register_repeatPassword_textfield2"
                                 style="width: 60%; margin-left: 125px">
                                <label class="mdui-textfield-label">确认密码</label>
                                <input class="mdui-textfield-input" type="password" name="repeatPassword" id="ep_register_repeatPassword"
                                       onchange="repeatPasswordCheck2()" maxlength="16" required/>
                                <div class="mdui-textfield-error" id="register_repeatPassword_err_msg2">密码不能为空</div>
                            </div>

                            <div class="mdui-textfield mdui-textfield-floating-label" style="width: 60%; margin-left: 125px">
                                <label class="mdui-textfield-label">物业名称</label>
                                <input class="mdui-textfield-input" type="text" name="enterpriseName" required/>
                                <div class="mdui-textfield-error">物业名称不能为空</div>
                            </div>

                            <div class="mdui-textfield mdui-textfield-floating-label" style="width: 60%; margin-left: 125px">
                                <label class="mdui-textfield-label">物业地址</label>
                                <input class="mdui-textfield-input" type="text" name="address" required/>
                                <div class="mdui-textfield-error">物业地址不能为空</div>
                            </div>

                            <div class="mdui-textfield mdui-textfield-floating-label" style="width: 60%; margin-left: 125px">
                                <label class="mdui-textfield-label">手机号</label>
                                <input class="mdui-textfield-input" type="text" name="phone" required/>
                                <div class="mdui-textfield-error">手机号不能为空</div>
                            </div>

                            <div class="mdui-row">
                                <div class="mdui-textfield mdui-textfield-floating-label mdui-col-xs-2" id="register_verifyCode_textfield2"
                                     style="width: 60%; margin-left: 125px">
                                    <label class="mdui-textfield-label">验证码</label>
                                    <input class="mdui-textfield-input" type="text" name="verifyCode" id="ep_register_verifyCode"
                                           onblur="verifyCodeCheck2()" maxlength="6" required/>
                                    <div class="mdui-textfield-error" id="register_verifyCode_err_msg2">请输入6位验证码</div>
                                </div>

                                <div class="mdui-col-xs-1 mdui-m-t-4">
                                    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent"
                                            type="button" onclick="getVerifyCode()">获取验证码</button>
                                </div>
                            </div>

                            <div class="mdui-row mdui-m-t-3" style="margin-left: 300px">
                                <div class="mdui-col-xs-4">
                                    <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent">注册</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/mdui.min.js"></script>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/MyJS.js"></script>
</body>
</html>