<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link rel="stylesheet" type="text/css" href="/css/mdui.min.css">
    <link rel="icon" href="/images/icon/favicon.ico">
</head>
<body class="mdui-theme-primary-blue mdui-theme-accent-blue">
<div class="mdui-toolbar mdui-color-theme mdui-row mdui-shadow-5">
    <span class="mdui-typo-title mdui-col-xs-4 mdui-text-color-white">“春天启动”小区物业管理中心</span>
    <div class="mdui-toolbar-spacer"></div>
    <div class=" mdui-col-xs-4">
        <div class="mdui-textfield mdui-textfield-expandable mdui-float-right">
            <button class="mdui-textfield-icon mdui-btn mdui-btn-icon">
                <i class="mdui-icon material-icons">search</i>
            </button>
            <input class="mdui-textfield-input" type="text" placeholder="请输入搜索内容"/>
            <button class="mdui-textfield-close mdui-btn mdui-btn-icon">
                <i class="mdui-icon material-icons">close</i>
            </button>
        </div>
    </div>
</div>

<div class="mdui-row">
    <div class="mdui-col-xs-2">
        <ul class="mdui-list" mdui-collapse="{accordion: true}">

            <li class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">home</i>
                <a class="mdui-list-item-content" th:href="@{/user/index}">首页</a>
            </li>

            <li class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">announcement</i>
                <a class="mdui-list-item-content" th:href="@{/user/all-notice}">所有公告</a>
            </li>

            <li class="mdui-collapse-item">
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">build</i>
                    <div class="mdui-list-item-content">我的报修</div>
                    <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                </div>
                <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                    <a class="mdui-list-item mdui-ripple" th:href="@{/user/maintenance-upload}">上传报修</a>
                    <a class="mdui-list-item mdui-ripple" th:href="@{/user/maintenance-finish}">已完成报修</a>
                    <a class="mdui-list-item mdui-ripple" th:href="@{/user/maintenance-not-finish}">待处理报修</a>
                </ul>
            </li>

            <li class="mdui-collapse-item">
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">book</i>
                    <div class="mdui-list-item-content">我的缴费</div>
                    <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                </div>
                <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                    <a class="mdui-list-item mdui-ripple" th:href="@{/user/bill-completed}">已交账单</a>
                    <a class="mdui-list-item mdui-ripple" th:href="@{/user/bill-unfinished}">未交账单</a>
                </ul>
            </li>

            <li class="mdui-collapse-item">
                <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
                    <i class="mdui-list-item-icon mdui-icon material-icons">people</i>
                    <div class="mdui-list-item-content">用户中心</div>
                    <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                </div>
                <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                    <a class="mdui-list-item mdui-ripple" th:href="@{/user/modify-email}">修改邮箱</a>
                    <a class="mdui-list-item mdui-ripple" th:href="@{/user/modify-password}">修改密码</a>
                </ul>
            </li>

            <li class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">keyboard_tab</i>
                <a class="mdui-list-item-content" th:href="@{/logout}">登出</a>
            </li>

        </ul>
    </div>
    <span class="mdui-col-xs-1"></span>
    <div class="mdui-col-xs-8 mdui-m-t-3">
        <div>
            <form th:action="@{/enterprise/modify-password/modify}" method="post">
                <div class="mdui-textfield mdui-textfield-floating-label" id="register_password_textfield"
                     style="width: 35%">
                    <label class="mdui-textfield-label">密码</label>
                    <input class="mdui-textfield-input" type="password" name="password" maxlength="16"
                           onchange="passwordCheck()" id="user_register_password" required/>
                    <div class="mdui-textfield-error" id="register_password_err_msg">密码不能为空</div>
                </div>

                <div class="mdui-textfield mdui-textfield-floating-label" id="register_repeatPassword_textfield"
                     style="width: 35%">
                    <label class="mdui-textfield-label">确认密码</label>
                    <input class="mdui-textfield-input" type="password" name="repeatPassword" maxlength="16"
                           onchange="repeatPasswordCheck()" id="user_register_repeatPassword" required/>
                    <div class="mdui-textfield-error" id="register_repeatPassword_err_msg">密码不能为空</div>
                </div>

                <div class="mdui-row">
                    <div class="mdui-textfield mdui-textfield-floating-label mdui-col-xs-3" id="register_verifyCode_textfield">
                        <label class="mdui-textfield-label">验证码</label>
                        <input class="mdui-textfield-input" type="text" name="verifyCode" maxlength="6"
                               onblur="verifyCodeCheck()" id="user_register_verifyCode" required/>
                        <div class="mdui-textfield-error" id="register_verifyCode_err_msg">请输入6位验证码</div>
                    </div>

                    <div class="mdui-col-xs-2 mdui-m-t-4">
                        <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent"
                                type="button" onclick="getVerifyCode()">获取验证码</button>
                    </div>
                </div>

                <div class="mdui-m-t-3 mdui-row">
                    <div class="mdui-col-xs-2"></div>
                    <div class="mdui-col-xs-2">
                        <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent"
                                type="submit">注册</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/js/mdui.min.js"></script>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/MyJS.js"></script>
</body>
</html>