<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.unbmy.recruit.mapper.BillMapper">

    <select id="getAllCompletedBill" resultType="bill" parameterType="long">
        select id, topic, description, cost, bill_time, cost_time, status, is_deleted from tb_bill, bill_user
        where userId = #{id} and billId = id and status = 1 and is_deleted = 0 order by bill_time;
    </select>

    <select id="getAllUnfinishedBill" resultType="bill" parameterType="long">
        select id, topic, description, cost, bill_time, cost_time, status, is_deleted from tb_bill, bill_user
        where userId = #{id} and billId = id and status = 0 and is_deleted = 0 order by bill_time;
    </select>

    <select id="getLatestBill" resultType="bill" parameterType="long">
        select id, topic, description, cost, bill_time, cost_time, status, is_deleted from tb_bill, bill_user
        where userId = #{id} and billId = id and status = 0 and is_deleted = 0 order by bill_time desc limit 3;
    </select>

    <update id="billCost" parameterType="long">
        update tb_bill set status = 1, cost_time = CURRENT_DATE where id = #{id} and status = 0;
    </update>

    <insert id="addBillToAll" parameterType="java.util.List">
        insert into bill_user values
        <foreach collection="userList" item="user" separator=",">
            (#{user.id}, #{billId})
        </foreach>
    </insert>

    <insert id="addBillToUser" parameterType="long">
        insert into bill_user values (#{userId}, #{billId})
    </insert>

    <select id="queryBill" resultType="bill">
        select distinct id, topic, description, cost, bill_time, cost_time, status, is_deleted from bill_user, tb_bill
        where userId = #{userId} and status = 0 and is_deleted = 0 and
        (id like concat('%',#{keyword},'%')
        or topic like concat('%',#{keyword},'%')
        or description like concat('%',#{keyword},'%'))
    </select>

</mapper>