<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.unbmy.recruit.mapper.HousingMapper">

    <insert id="addHousingUser" parameterType="long">
        insert into housing_user values (#{userId}, #{housingId});
    </insert>

    <select id="getHousingById" parameterType="long" resultType="housing">
        select id, topic, host, people, image, area, buy_date, is_deleted
        from tb_housing, housing_user
        where userId = #{userId} and housingId = tb_housing.id and is_deleted = 0;
    </select>

</mapper>